.vscode
hydron
hydron.exe
hydron-*.zip
build
libwrapper.h
libwrapper.so
build-hydron-qt-*
hydron-qt/hydron-qt.pro.user
hydron-qt/Makefile
hydron-qt/hydron-qt
hydron-qt/*.o
moc_bridge.cpp
qrc_qml.cpp
.qmake.stash
dist
debug
